span{

    margin-right: 1rem;

}

.header{

    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    
}

.sort-dropdown{

    
    
    max-width: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    padding-right: 2rem;

}

.filter-dropdown{

    
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.filter-dropdown .header{

    display: flex;
    cursor: pointer;
    padding-left: 2rem;

}

.filter-dropdown .date{

    
    display: none;
    flex-direction: column;
    padding: 2rem;
    transition: all 0.5s ease-in;
}

.filter-dropdown .date.active{

    display: flex;


}

.filter-parameter{

    
    cursor: pointer;
    display: flex;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    padding-right: 1.5rem;
    
}

.filter-parameter span{

    display: flex;
    vertical-align: bottom;
    width: 100%;
    font-weight: bold;
}

.filter-options{

    display: none;


}

.filter-options.active{

    display: flex;
    flex-direction: column;
    width: 100%;

}

.filter-options input{

    margin-right: 1rem;
    margin-bottom: 1rem;
        

}

.filter-options label{

    padding-bottom: 0.5rem;


}

.menu-options{

    
    min-width: 50%;
    margin: 4rem auto;
    

}

/* Sort parameter */
.sort-parameter{

    color: rgb(149, 149, 149);
    font-size: 1rem;
    font-weight: bold;
    
} 

#param-select{

    border: none;
    outline-offset: 0;
    outline-style: hidden;
    
}