*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{

    font-family: 'Roboto', sans-serif;


}

.search-bar-wrapper{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    line-height: 10rem;
    text-align: center;
    
}

.search-bar-wrapper > h1{

    font-size: 4rem;
    color: white;

}

.presentation-section{

    position: relative;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.presentation-section > .black-overlay{

    background-color: black;
    opacity: 70%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.presentation-section > img{

    width: 100%;
    height: 100%;

}

@media (max-width: 700px){

    .search-bar-wrapper{

        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        line-height: 1rem;
        text-align: center;
        
    }

    .search-bar-wrapper > h1{

        font-size: 2rem;
        padding-bottom: 2rem;
    }


}