.container{

    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    padding-top: 3rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

a{

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:0.7rem;


}

h1{

    font-size: 1.4rem;

}

.grid-container{

    display: grid;
    grid-template-columns: auto auto auto auto; 
    grid-template-rows: auto;
    

}

.grid-item{

    background-color: rgb(255, 255, 255);
    min-width: 100%;
    height: 100%;
    border: 1px solid rgb(194, 194, 194);
    
    


}

.grid-item .card-image{

    width: 100%;
    height: 200px;
    
    

}

.grid-item img{

    width: 100%;
    height: 100%;
    object-fit: contain;
    

}



.grid-item span{

   padding: 2rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(135, 135, 135)
}

.grid-item .action-btn{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    font-size: 1rem;
    

}

.card-info{

    padding: 0.2rem 2rem;

}

/* Menu customization */
.menu-options{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    

}

.filter-dropdown{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    min-width: 100%;
    
}